{% extends 'template.html' %} {% load bootstrap %} {% block content %}


<div class="container">
    <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            Address
                        </th>
                        <th class="text-center">
                            City
                        </th>
                        <th class="text-center">
                            Zipcode
                        </th>

                        <th class="text-center">
                            Status
                        </th>
                        <th class="text-center">
                            Delete
                        </th>
                        <th class="text-center">
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <form method="POST">
                        {% csrf_token %}

                        <tr id='addr0' data-id="0">
                            <td width="10%">
                                {% if edit_address  %}
                                    <input type="hidden" id="save" name="save" value="{{ address_id }}">
                                {% endif %}
                                <button type="submit" class="btn btn-success">Save</button>
                            </td>
                            <td width="30%">
                                {{ form.address|bootstrap }}
                            </td>
                            <td width="30%">
                                {{ form.city|bootstrap }}
                            </td>
                            <td width="10%">
                                {{ form.zipcode|bootstrap }}
                            </td>
                            <td width="10%">

                            </td>

                            <td width="10%">

                            </td>
                            <td width="10%">

                            </td>
                        </tr>
                    </form>
                    {% for address in address_list %}
                    <tr>
                        <td>

                        </td>
                        <td>
                            {{ address.0 }}
                        </td>
                        <td>
                            {{ address.1 }}
                        </td>
                        <td>
                            {{ address.2 }}
                        </td>
                        <td>
                            <form method="POST">
                                {% csrf_token %} {% if address.4 %}
                                <button name "setdefault" class='btn btn-primary'>Set Default</button>
                                <input type="hidden" id="setdefault" name="setdefault" value="{{ address.3 }}"> {% else %} Default Address {% endif %}
                            </form>
                        </td>

                        <td>
                            <form method="POST">
                                {% csrf_token %} {% if address.4 %}
                                <button name "remove" class='btn btn-danger'>Remove</button>
                                <input type="hidden" id="remove" name="remove" value="{{ address.3 }}"> {% else %} Cannot Remove {% endif %}

                            </form>
                        </td>
                        <td>
                            <form method="POST">
                                {% csrf_token %}
                                <button name "edit" class='btn btn-warning'>Edit</button>
                                <input type="hidden" id="edit" name="edit" value="{{ address.3 }}">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}