{% extends 'template.html' %}
{% load bootstrap %}
{% block content %}
<div class = "container">
  <div class = "row">
       <div class="col-xs-1 col-sm-3 col-md-4"></div>
       <div class="col-xs-10 col-sm-6 col-md-4">
          <h1>Login</h1></br>
          {% if err %}
          <div class="alert alert-danger" role="alert">
            {{ err }}
          </div>
          {% endif %}
          <form method="post">
          {% csrf_token %}
          {{ form|bootstrap }}
          <button type="submit" class="btn btn-primary">Login</button> 
          <button type="button" onclick="location.href='{% url 'user:signup' %}'" class="btn btn-info">Signup</button> 
          <br/>
          <p ><a class='text-danger' href="{% url 'user:forgot_password' %} ">Forgot your password?</a></p>
        </form>
        <br/>
        
      </div>
      <div class="col-xs-1 col-sm-3 col-md-4"></div>
  </div>
</div>
{% endblock %}
