{% extends 'template.html' %}
{% load bootstrap %}
{% block content %}
<div class = "container">
  <div class = "row">
       <div class="col-xs-1 col-sm-3 col-md-4"></div>
       <div class="col-xs-10 col-sm-6 col-md-4">
          <h1>Logout</h1></br>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
            <!-- <button type="submit">Back</button> -->
        </form>
      </div>
      <div class="col-xs-1 col-sm-3 col-md-4"></div>
  </div>
</div>
{% endblock %}
