{% extends 'template.html' %}
{% load bootstrap %}
{% block content %}
<div class = "container">
  <div class = "row">
       <div class="col-xs-1 col-sm-3 col-md-4"></div>
       <div class="col-xs-10 col-sm-6 col-md-4">
            <h1><center>Profile</center></h1></br>
            <table class="table">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>:  {{user.firstname}} {{user.lastname}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:  {{user.email}}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>:  {{user.phone_number}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:  {{addr.addr}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>:  {{addr.city}}</td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>:  {{addr.zipcode}}</td>
                </tr>
                </tbody>
            </table>
            
  <button  type="button" onclick="location.href='/user/edit_profile'" class="btn btn-primary">Edit Profile</button>
  <button  type="button" onclick="location.href='/user/edit_profile'" class="btn btn-success">Edit Address</button>
  <button  type="button" onclick="location.href='/user/change_password'" class="btn btn-danger">Change Password</button>
      </div>
      <div class="col-xs-1 col-sm-3 col-md-4"></div>
  </div>
</div>
{% endblock %}
