
{% extends 'user_base.html' %}
{% block content %}
{% load bootstrap %}
<div class = "container">
  <div class = "row">
       <div class="col-4"></div>
       <div class="col-4">
            <h1><center>Profile</center></h1></br>
            <table class="table">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>:  {{user.firstname}} {{user.lastname}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:  {{user.email}}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>:  {{user.phone_number}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:  {{addr.addr}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>:  {{addr.city}}</td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>:  {{addr.zip}}</td>
                </tr>                
                </tbody>
            </table>
      </div>
      <div class="col-4"></div>
  </div>
</div> 
{% endblock %}