{% extends 'template.html' %}
{% load bootstrap %}
{% block content %}

<div class = "container">
  <div class = "row">
       <div class="col-xs-1 col-sm-2 col-md-3"></div>
       <div class="col-xs-10 col-sm-8 col-md-6">
            <h1><center>Forgot your password?</center></h1></br>
            <h4><center>Please enter your email address to retrieve your password.</center></h4></br>
            {% if err %}
            <div class="alert alert-danger" role="alert">
              {{ err }}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}

                <button type="submit" class="btn btn-primary">Send</button>
                <br/><br/>
            </form>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-3"></div>
  </div>
</div>
{% endblock %}
