{% extends 'catalog_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Search</h2>
    <form method="get" action=".">
        <table>
            {{ form|crispy }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>
            {% if page.object_list %}
                <div class = "container">
                    <div class = "row">
                        {% for product in page.object_list %}
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="card test-center">
                                    <div class="card-block">
                                        <br />
                                        <a href="{% url 'Catalog:detail' product.object.id %}"><img src= "{{ product.object.pictureUrl.url }}" class="mx-auto d-block" height="200"></a>
                                        <br />
                                        <a href="{% url 'Catalog:detail' product.object.id %}"><h6 style="text-align:center;">{{ product.object.name }}</h6></a>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="text-align:center;">{{ product.object.price|floatformat:2 }} บาท</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No results found.</p>
            {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
