{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
    <br>
    <form method="get" action=".">
        <div class = "row">
            <div class="col-2 col-sm-3 col-md-4"></div>
            <div class="col-8 col-sm-6 col-md-4">
                <br />
            </div>
        </div>
        <br />

        <h5>
        </h5>
            {% if key_word %}
            {% if sqs %}
                <div class = "container">
                    <div class = "row">
                        <div class="col-12">
                            <h3>Results for "{{key_word}}"</h3>

                            <br />
                        </div>

                        {% for product in sqs %}
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card card-outline-secondary">
                                    <div class="card-block">
                                        <br />
                                        <div class="text-center">
                                            <a href="{% url 'Catalog:detail' product.object.product_id %}">
                                                {% if product.picture_url.url != None %}
                                                <img src= "data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="mx-auto d-block img-fluid" height="200" data-src="{{ product.object.pictureUrl.url }}">
                                                {% else %}
                                                <img src= "data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="mx-auto d-block " height="200" data-src="/static/media/product_image/book_nocover.png">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <br />
                                        <a href="{% url 'Catalog:detail' product.object.product_id %}"><h4 style="text-align:center;">{{ product.object.name }}</h4></a>
                                        <ul class="list-group list-group-flush">
                                            {% if product.object.quantity <= 0 %}
                                                <li class="list-group-item" style="text-align:center; color:red;">{{ product.object.price|floatformat:2 }} บาท - Out of Stock</li>
                                            {% else %}
                                                <li class="list-group-item" style="text-align:center;">{{ product.object.price|floatformat:2 }} บาท</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
            <div class = "container">
                <div class = "row">
                    <div class="col-12">
                        <h3>Results for "{{key_word}}"</h3>
                        <br />
                    </div>
                    <div class="col-12">
                        <p>No results found.</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% else %}
            <div class = "container">
                <div class = "row">
                    <div class="col-12">
                        <h3>Please use Search Bar at Navigation Bar for searching our products.</h3>
                        <br />
                    </div>
                </div>
            </div>
            {% endif %}
    </form>
{% endblock %}
