{% extends 'template.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row flex grid ">
        <div class="col-md-3 grid-item">
            <div class="thumbnail grid-item">
                <img class="d-flex mr-3" src="{% static 'img/comics.jpg' %} " alt="Generic placeholder image">
                <!-- <p class="card-text"><center>X-men "Days of future past"</center></p> -->
                <center><a href="/book/">X-men "Days of future past"</a></center>
            </div>
        </div>
        <div class="col-md-3 grid-item">
            <div class="thumbnail grid-item">
                <img class="d-flex mr-3" src="{% static 'img/history.jpg' %}" alt="Generic placeholder image">
                <center><a href="/book/">A People History</a></center>
            </div>
        </div>
        <div class="col-md-3 grid-item">
            <div class="thumbnail grid-item">
                <img class="d-flex mr-3" src="{% static 'img/comics.jpg' %}" alt="Generic placeholder image">
                <center><a href="/book/">X-men "Days of future past"</a></center>
            </div>
        </div>
        <div class="col-md-3 grid-item">
            <div class="thumbnail grid-item">
                <img class="d-flex mr-3" src="{% static 'img/comics.jpg' %}" alt="Generic placeholder image">
                <center><a href="/book/">X-men "Days of future past"</a></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
