{% extends 'catalog_base.html' %}

{% block content %}
    <br />
    <div class = "container">
        <div class = "row">
            <div class="col-12">
                <h1>{{ catagory.name }}</h1>
                <br />
            </div>
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card test-center">
                        <div class="card-block">
                            <br />
                            <a href="{% url 'Catalog:detail' product.id %}"><img src= "{{ product.pictureUrl.url }}" class="mx-auto d-block" height="200"></a>
                            <br />
                            <a href="{% url 'Catalog:detail' product.id %}"><h6 style="text-align:center;">{{ product.name }}</h6></a>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="text-align:center;">{{ product.price|floatformat:2 }} บาท</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
