{% extends 'template.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block header %}
<title>Transfer confirmation form</title>
{% endblock %}

{% block content %}
<div class="container">
  {% if request.session.user_id %}
  <h1 align="center">Transfer confirmation form</h1>
  <div class="row">
    <div class="col-sm-6">
      {% if confirm_message %}
      <p>{{ confirm_message }}</p>
      {% endif %}
      {% if form %}
      <h3>Transfer your payment to :</h3>
      <h5><b> Bank of Thailand, 000-000-00001, Main branch</b></h5>
      <h5> Account under registered name "FAKE ACCOUNT"</h5>
      <form method='POST' action=''>{% csrf_token %}
        {{ form_id|crispy }}
      </form>
      <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class = 'btn btn-default' />
      </form>
      {% endif %}
    </div>
    <div class="col-sm-6">
      <h4>Detail for order {{order_id}}</h4>
      <table class="table table-responsive">
        <thead>
          <tr class="names">
            <th>Product</th>
            <th style="width:15%" class="text-right">Quantity</th>
            <th style="width:10%" class="text-right">Amount</th>
            <th style="width:5%"></th>
          </tr>
        </thead>
        {% for data in detail %}
        <tbody>
          <td></td>
          <td>{{ data.quantity }}</td>
          <td>{{ data.tax }}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
  {% else %}
  <div class="container" style="margin:0 auto; width: 80%;">
    <h3>Please Login to confirm your payment.</h3>
    <a href="{% url 'user:login' %}" class="btn btn-primary btn-block">Login</a>
  </div>
  {% endif %}
</div>
{% endblock %}
