{% extends 'template.html' %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load static %}

{% block header %}
    <title>Order history</title>
{% endblock %}

{% block content %}
    <div class = "container">
        {% if user.email == check %}
            <h3>Order {{ hist_entry.order_id|truncatechars:11 }} from {{ hist_entry.order_time }}</h3>
            {% render_table hist_data_table %}
        {% else %}
            <h3>{{ error_message }}</h3>
        {% endif %}
        <br>
        <a href="{% url 'index' %}">Back</a>
    </div>
{% endblock %}
