{% extends 'template.html' %}
{% load staticfiles %} 

{% block content %}

      <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6" style="text-align:center"><img class="" src="{% static 'img/comics.jpg' %}"  width=250px/></div>
            <div class="col-sm-6" style="">
        
              <br/>
              <h2>X-Men: Days of Future Past</h2>
              <p>Originally published: 1981</p>
              <p>Author: Chris Claremont</p>
              <p>Trade paperback: ISBN 0-7851-1560-9</p>
              <p>Graphic novel: ISBN 0871355825</p>
              <p>Illustrator: John Byrne</p>
              <p>Publisher: Marvel Comics</p>
              <h4>Price : 200</h4> <a href="">
              <a href="#"><img src="{% static 'img/ShoppingCart1.png' %} " width=200px/></a>
              <br/>
              <br/>
              <div><a href="#" style="color:gray, text-align:right">BACK << </a></div>
            </div>
          </div>
        </div>

    </body>

  </html>

  {% endblock %} 