{% extends 'template.html' %}
{% load staticfiles %}

{% block script %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block style %}
            .header{
                padding: 20px;
            }
            .hidden-xs{
                font-size: 90%;
            }
            
            .col{
                padding: 20px;
            }
            
            .container{
                align: center;
            }
			
			#cart-head {
				text-align: center;
				margin: 30px auto;
			}
			
            .address-body {
                background: #FFFFFF;
            }
            
            .address-head {
                background: #fcfcfc;
            }
            
            .cart-tfoot {
                background: #fcfcfc;
            }
            
            .address-header {
                background: #d3d3d3;
            }
{% endblock %}

{% block content %}
        <script type="text/javascript">
         var total = 0;
         var shipping = 0;
        </script>

        <div class="container">

                <h1 id="cart-head">Select Address</h1>

                <div class="row">
                        <div class="col" >
                        </div>
                        <div class="col address-header" >
                                <h5>Address For Shipping</h2>
                        </div>
                        <div class="col address-header" ></div>
                        <div class="col" ></div>
                </div>


                <div class="row">
                        <div class="col" ></div>
                        <div class="col-6" >
                <table class="table">
                    <tr>
                        <thead class="address-head">
                            <th class="text-center" width='30%'>
                                Address
                            </th>
                            <th class="text-center" width='30%'>
                                City
                            </th>
                            <th class="text-center" width='10%'>
                                Zipcode
                            </th>

                    </tr>
                    </thead>
                    {% for address in address_list %}
                    <tr class="address-body">
                        <td align='center'>
                            {{ address.0 }}
                        </td>
                        <td align='center'>
                            {{ address.1 }}
                        </td>
                        <td align='center'>
                            {{ address.2 }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="col" ></div>

                </div>

                <div class="row">
                        <div class="col" >
                        </div>
                        <div class="col" >

                        </div>
                        <div class="col" >
                                <td colspan="2"><a href="{% url 'user:edit_address' %}?from=cart" class="btn btn-danger btn-block">Edit Address</a></td>
                        </div>
                        <div class="col" >

                        </div>
                </div>

                <div class="row">
                    <div class="col" >
                    </div>
                    <div class="col" >
                        </div>
                    <div class="col" >
                         <a href="{% url 'Catalog:index' %}" class="btn btn-default "><i class="fa fa-angle-left"></i> Continue Shopping</a>
                    </div>
                    <div class="col" ></div>
                    <div class="col" >
                        </div>
                    <div class="col" ><a href="{% url 'cart:payment' %}" class="btn btn-success btn-block">Payment <i class="fa fa-angle-right"></i></a></div>
                    <div class="col" ></div>
                    <div class="col" ></div>
                </div>



        </div>
{% endblock %}