<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>cart</title>
    </head>

    <body>
        <h1>Cart</h1>

        <style>
         .container{
             max-width: 1000px;
         }
         .table>thead>tr.names>th{
             border-bottom: 1px;
         }
         .table>tbody>tr.item>td{
             padding-bottom: 20px;
             padding-top: 20px;
             vertical-align: middle;
         }
         .table>tfoot>tr.no-border>td{
             border-top: 0 none;
             padding-top: 20px;
         }
         .img-product{
             padding-top: 20px;
         }
        </style>
        <script type="text/javascript">           
         var total = 0;                 
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <table id="cart" class="table table-responsive">
                <thead>
                    <tr class="names">
                        <th style="width:50%">Product</th>
                        <th style="width:10%" class="text-right hidden-xs">Price</th>
                        <th style="width:15%" class="text-right">Quantity</th>
                        <th style="width:10%" class="text-right">Amount</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                {% for cart in cartItem_list %}
                <tbody class="cart-header" id="{{cart.id}}">
                    <tr class="item">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs"><img src="{{cart.pictureUrl}}" alt="Converse" class="img-product img-responsive img-rounded"/></div>
                                <div class="col-sm-9">        
                                    <h4 class="nomargin">{{cart.name}}</h4>
                                    <p class="hidden-xs">{{cart.discription}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" class="text-right hidden-xs">
                            
                            {{cart.price}}
                            
                        </td>
                        
                        

                        <td data-th="Quantity" class="text-right">
                            
                            
                            <div class="btn-group" role="group" aria-label="...">
                                <div id="quantity_id_{{cart.id}}"></div>
                                <button id="button_id_{{cart.id}}_down" class="btn btn-sm btn-default" name="down">-</button>
                                <button id="button_id_{{cart.id}}_up" class="btn btn-sm btn-default" name="up">+</button>
                                <script type="text/javascript">
                                 var quantity_{{cart.id}} = {{cart.quantity}};
                                 document.getElementById("quantity_id_{{cart.id}}").innerHTML = quantity_{{cart.id}};
                                 button_id_{{cart.id}}_down.onclick = function(){
                                     quantity_{{cart.id}} = quantity_{{cart.id}} - 1;
                                     if(quantity_{{cart.id}} < 1)
                                         quantity_{{cart.id}} = 1;
                                     else
                                         getAmount_{{cart.id}}(-1*{{cart.price}});
                                     document.getElementById('quantity_id_{{cart.id}}').innerHTML = quantity_{{cart.id}};
                                 }
                                 button_id_{{cart.id}}_up.onclick = function(){
                                     quantity_{{cart.id}} = quantity_{{cart.id}} + 1;
                                     if(quantity_{{cart.id}} > 20)
                                         quantity_{{cart.id}} = 20;
                                     else
                                         getAmount_{{cart.id}}({{cart.price}});
                                     document.getElementById('quantity_id_{{cart.id}}').innerHTML = quantity_{{cart.id}};
                                 }
                                </script>
                                
                            </div>

                        </td>

                        <td data-th="Subtotal" class="text-right" id="amount_{{cart.id}}">
                            <script type="text/javascript">
                             var amount_{{cart.id}} = {{cart.price}} * quantity_{{cart.id}};
                             total = amount_{{cart.id}} + total;
                             document.getElementById('amount_{{cart.id}}').innerHTML = amount_{{cart.id}};
                             function getAmount_{{cart.id}}(change){
                                 amount_{{cart.id}} = {{cart.price}} * quantity_{{cart.id}};
                                 document.getElementById('amount_{{cart.id}}').innerHTML = amount_{{cart.id}};
                                 total = total + change;
                                 document.getElementById('total_all_in_cart').innerHTML = total + "THB";                                 
                             }
                            </script>
                        </td>

                        <td class="actions" data-th="">
                           
                            <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>				
                        </td>
                        
                    </tr>
                </tbody>
                {% endfor %}

                
                
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="hidden-xs" colspan="2"></td>
                        <td class="text-right">Total</td>
                        <td class="text-right">
                            <strong id="total_all_in_cart">
                                <script type="text/javascript">
                                 document.getElementById('total_all_in_cart').innerHTML = total + "THB";
                                </script>
                            </strong></td>
                        <td></td>
                    </tr>
                    <tr class="no-border">
                        <td><a href="#" class="btn btn-default "><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td></td>
                        <td colspan="2"><a href="{% url 'cart:results' %}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>


        
    </body>
    <script>
     
    </script>
</html>



