<!DOCTYPE HTML>
<html>
    <head>
        <title>Cart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>

    <body>
        

        <style>
         .header{
                padding: 20px;
            }

            .hidden-xs{
                font-size: 90%;
            }
            
            .col{
                padding: 20px;
            }
        </style>
        <script type="text/javascript">
         var total = 0;
        </script>
        

        <div class="container">

                <div class="row">
                        <div class="col" ></div>
                        <div class="col" ></div>
                        <div class="col" ></div>
                        <div class="col" >
                                <div class="card bg-success text-white">
                                        <div class="card-body"><i class="fa fa-angle-double-right"></i> Item List</div>
                                      </div>
                        </div>
                      </div>

            <table id="cart" class="table table-responsive">
                <thead>
                    <tr class="names">
                        <th>Product</th>
                        <th style="width:10%" class="text-right">Price</th>
                        <th style="width:15%" class="text-right">Quantity</th>
                        <th style="width:10%" class="text-right">Amount</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>

                {% for book, quantity in cart_item_list.items  %}

                <tbody class="cart-header" id="{{book.id}}">
                    <tr class="item">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs"><img src="{{book.picture_url.url}}" alt="Converse" class="img-product img-responsive img-rounded img-fluid"/></div>
                                <div class="col-sm-9">
                                    <h4 class="nomargin">{{book.name}}</h4>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" class="text-right hidden-xs">

                            {{book.price|floatformat:2}}

                        </td>



                        <td data-th="Quantity" class="text-right">


                            <div class="btn-group" role="group" aria-label="...">
                                <form method="post">
                                    {% csrf_token %}
                                    {% if book.quantity < 20 %}
                                    <input id="quantity_id_{{book.id}}" name="quantity_of_item" type="number" value="{{quantity}}" style="width:90px" min="1" max="{{book.quantity}}">
                                    {% else %}
                                    <input id="quantity_id_{{book.id}}" name="quantity_of_item" type="number" value="{{quantity}}" style="width:90px" min="1" max="20">
                                    {% endif %}
                                    <input id="id_of_input_{{book.id}}" name="id_of_input" type="hidden" value="{{book.id}}">
                                    <input type="submit" value="update" style="width:90px;">
                                </form>
                                <script type="text/javascript">
                                 var quantity_{{book.id}} = {{quantity}};

                                </script>

                            </div>

                        </td>

                        <td data-th="Subtotal" class="text-right" id="amount_{{book.id}}">
                            {% widthratio book.price 1 quantity %}
                            <script type="text/javascript">
                             var amount_{{book.id}} = {{book.price}} * quantity_{{book.id}};
                             total = amount_{{book.id}} + total;
                            </script>
                        </td>

                        <td class="actions" data-th="">
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-default btn-sm" type="submit" name="delete_item" value="{{book.id}}"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>

                    </tr>
                </tbody>
                {% endfor %}



                <tfoot>
                    <tr>
                        <td></td>
                        <td class="hidden-xs" colspan="2"></td>
                        <td class="text-right">Total</td>
                        <td class="text-right">
                            <strong id="total_all_in_cart">
                                <script type="text/javascript">
                                 document.getElementById('total_all_in_cart').innerHTML = total + " THB";
                                </script>
                            </strong></td>
                        <td></td>
                    </tr>
                    <tr class="no-border">
                        <td><a href="{% url 'Catalog:index' %}" class="btn btn-default "><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td></td>
                        {% if cart_item_list %}
                            {% if request.session.user_id %}
                                <td colspan="2"><a href="{% url 'cart:results' %}" class="btn btn-success btn-block">Checkout</a></td>
                            {% else %}
                                <td colspan="2"><a href="{% url 'login' %}" class="btn btn-primary btn-block">Login</a></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>

    </body>
</html>
