<!DOCTYPE HTML>
<html>
    <head>
        <title>Cart</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <style>
			.header{
                padding: 20px;
            }
            .hidden-xs{
                font-size: 90%;
            }
            
            .col{
                padding: 20px;
            }
            
            .container{
                align: center;
            }
			
			#cart-head {
				text-align: center;
				margin: 30px auto;
			}
			
			#cart {
				
			}
        </style>

        <script type="text/javascript">
         var total = 0;
         var quantity_dict = {};
         var amount_dict = {};
        </script>
       
		<h1 id="cart-head">Cart</h1>
		
        <div class="container">

            <table id="cart" class="table table-responsive">
                <thead>
                    <tr class="names">
                        <th style="width:50%" class="text-left">Product</th>
                        <th style="width:15%" class="text-right">Price</th>
                        <th style="width:20%" class="text-right">Quantity</th>
                        <th style="width:10%" class="text-right">Amount</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>

                {% for book, quantity in cart_item_list.items  %}
                
                
                <tbody class="cart-header" id="{{book.product_id}}">
                    <tr class="item">
                        <td data-th="Product">
                            <div class="row">
                                    {% if book.picture_url.url != None %}
                                    <div class="col-sm-3 hidden-xs"><img src="{{book.picture_url.url}}" alt="Converse" class="img-product img-responsive img-rounded img-fluid"/></div>
                                    {% else %}
                                    <div class="col-sm-3 hidden-xs"><img src= "/static/media/product_image/book_nocover.png" alt="Converse" class="img-product img-responsive img-rounded img-fluid"/></div>
                                    {% endif %}
                                
                                <div class="col-sm-9">
                                    <h4 class="nomargin">{{book.name}}</h4>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" class="text-right hidden-xs">

                            {{book.price|floatformat:2}}

                        </td>



                        <td data-th="Quantity" >
                            
                            <div class="row">
                            <div class="col-3" style="padding:0px;"></div>
                            <div class="col-9" style="padding:0px;">
                            <div class="btn-group" role="group" aria-label="..." >
                                    
                                <div class="input-group" style="width:100%">    
                                <span class="input-group-btn">
                                    <button id="button-minus-{{book.product_id}}" type="button" class="btn btn-outline-secondary btn-sm" onclick="minusQuantity()">-</button>
                                </span>               
    
                                    
                                    {% if book.quantity < 20 %}
                                        <input class="form-control" id="quantity_id_{{book.product_id}}" name="quantity_of_item" type="number" value="{{quantity}}" style="width:50%" min="1" max="{{book.quantity}}">
                                        {% else %}
                                        <input class="form-control" id="quantity_id_{{book.product_id}}" name="quantity_of_item" type="number" value="{{quantity}}" style="width:50%" min="1" max="20">
                                        {% endif %}
                                        
                                    
                                <span class="input-group-btn">
                                    <button id="button-plus-{{book.product_id}}" type="button" class="btn btn-outline-secondary btn-sm" onclick="plusQuantity()">+</button>
                                </span>
                                
                                </div>

                                <script type="text/javascript">
                                    quantity_dict["quantity_id_{{book.product_id}}"] = document.getElementById("quantity_id_{{book.product_id}}").getAttribute("value");
                                    document.getElementById("button-minus-{{book.product_id}}").onclick = function(){
                                        if(quantity_dict["quantity_id_{{book.product_id}}"] > 1){
                                            total = total - amount_dict["quantity_id_{{book.product_id}}"];
                                            quantity_dict["quantity_id_{{book.product_id}}"]--;
                                            document.getElementById("quantity_id_{{book.product_id}}").setAttribute("value",  quantity_dict["quantity_id_{{book.product_id}}"].toString() );
                                            amount_dict["quantity_id_{{book.product_id}}"] = {{book.price|floatformat:2}} * quantity_dict["quantity_id_{{book.product_id}}"];
                                            document.getElementById("amount_{{book.product_id}}").innerHTML = amount_dict["quantity_id_{{book.product_id}}"];
                                            total = amount_dict["quantity_id_{{book.product_id}}"] + total;
                                            document.getElementById('total_all_in_cart').innerHTML = total + " THB";
                                        }
                                    };
                                    
                                    document.getElementById("button-plus-{{book.product_id}}").onclick = function(){
                                        if((quantity_dict["quantity_id_{{book.product_id}}"] < 20) && (quantity_dict["quantity_id_{{book.product_id}}"] < {{book.quantity}}) ){
                                            total = total - amount_dict["quantity_id_{{book.product_id}}"];
                                            quantity_dict["quantity_id_{{book.product_id}}"]++;
                                            document.getElementById("quantity_id_{{book.product_id}}").setAttribute("value",  quantity_dict["quantity_id_{{book.product_id}}"].toString() );
                                            amount_dict["quantity_id_{{book.product_id}}"] = {{book.price|floatformat:2}} * quantity_dict["quantity_id_{{book.product_id}}"];
                                            document.getElementById("amount_{{book.product_id}}").innerHTML = amount_dict["quantity_id_{{book.product_id}}"];
                                            total = amount_dict["quantity_id_{{book.product_id}}"] + total;
                                            document.getElementById('total_all_in_cart').innerHTML = total + " THB";
                                        }
                                    }
                                </script>
                            
                            </div>
                        </div>
                        </div>
                        </td>

                        <td data-th="Subtotal" class="text-right" id="amount_{{book.product_id}}">
							<span id="amount_{{book.product_id}}"></span>
                            <script type="text/javascript">
                             amount_dict["quantity_id_{{book.product_id}}"] = {{book.price|floatformat:2}} * quantity_dict["quantity_id_{{book.product_id}}"];
							 document.getElementById("amount_{{book.product_id}}").innerHTML = amount_dict["quantity_id_{{book.product_id}}"];
                             total = amount_dict["quantity_id_{{book.product_id}}"] + total;
                            </script>
                        </td>

                        <td class="actions" data-th="">
                            <form method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-danger btn-sm" type="submit" name="delete_item" value="{{book.product_id}}"><i class="fa fa-trash-o"></i></button>
                            </form>
                        </td>

                    </tr>
                </tbody>

                {% endfor %}



                <tfoot>
                    <tr>
                        <td></td>
                        <td class="hidden-xs" colspan="1"></td>
                        <td class="text-right">Total</td>
                        <td class="text-right">
                            <strong id="total_all_in_cart">
                                <script type="text/javascript">
                                 document.getElementById('total_all_in_cart').innerHTML = total + " THB";
                                </script>
                            </strong>
						</td>
                        <td></td>
                    </tr>
                    <tr class="no-border">
                        <td><a href="{% url 'Catalog:index' %}" class="btn btn-default "><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td></td>
                        {% if cart_item_list %}
                            {% if request.session.user_id %}
                                <td colspan="2">
                                
                                <form method="POST" action="{% url 'cart:results' %}">
                                    {% csrf_token %}
                                    
                                    <button class="btn btn-success btn-block" type="submit" name="update_item" value="update">Checkout</button>
                             <!--       {% for book, quantity in cart_item_list.items  %}
                                    
                                        
                                        <input id="form_send_quantity_id_{{book.product_id}}" name="{{book.product_id}}" type="hidden" value="{{quantity}}">
                                        <script type="text/javascript">
                                            document.getElementById("form_send_quantity_id_{{book.product_id}}").setAttribute("value", quantity_dict["quantity_id_{{book.product_id}}"]);
                                        </sqript>
                                        
                                       <!-- <input id="id_of_input_{{book.product_id}}" name="id_of_input" type="hidden" value="{{book.product_id}}">
                                    {% endfor %}-->
                                
                                    
                                </form>
                                </td>
                            {% else %}
                                <td colspan="2"><a href="{% url 'user:login' %}" class="btn btn-primary btn-block">Login</a></td>
                            {% endif %}
                        {% else %}
							<td colspan="2"><a href="{% url 'user:login' %}" class="btn btn-primary btn-block">Login</a></td>
                        {% endif %}
                    </tr>
                </tfoot>
            </table>
        </div>

    </body>
</html>