{% extends 'template.html' %}

{% load staticfiles %}

{% block content %}

<!----------------------------------------------------------------->
<!-- <h1 align="center">Payment page is under construction.</h1> -->
<!-- <h3 align="center">{{message}}</h3>                         -->
<!----------------------------------------------------------------->

    <h1 align="center">Payment method</h1>
    <h3 align="center">Transfer your payment to :</h3>
    <h5 align="center"><b> Bank of Thailand, 000-000-00001, Main branch</b></h5>
    <h5 align="center"> Account under registered name "FAKE ACCOUNT"</h5>
    <h4 align="center">Submit your payment confirmation <a href="/transfer">HERE</a></h4>

{% endblock %}
